*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Ysabeau SC', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root{
    --main-color:#ff702a;
    --text-color:#fff;
    --bg-color:#1e1c2a;
    --big-font:5rem;
    --h2-font:2.25rem;
    --p-font:0.9rem;
}

*::selection{
    background:var(--main-color);
    color: var(--text-color);
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 170px;
    background-color: var(--bg-color);
}

.logo{
    color: var(--main-color);
    font-weight:600;
    font-size: var(--h2-font);
}

.navbar{
    display: flex;
}

.navbar a{
    color:var(--text-color) ;
    font-size: 1rem;
    padding: 10px 20px;
    font-weight: 600;
}

.navbar a:hover{
    color: var(--main-color);
    transition: 2s;
    cursor: grab;
}

#menu-icon{
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
section{
    padding: 70px 17%;
}

.home{
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    align-items: center;
}

.home-img img{
    max-width: 100%;
    width: 600px;
    height: auto;
}

.home-text h1{
    font-size: var(--big-font);
    font-weight: 600;
    color: var(--main-color);
}

.home-text h2{
    font-size: var(--h2-font);
    margin: 1rem 0 2rem;
}

.home-text a{
    display: inline-block;
    background: var(--main-color);
    color: var(--text-color);
    border-radius: 5px;
    padding: 10px 20px;
}

.btn:hover{
    transform: scale(1.2) translateY(8px);
    transition: 2s;
}

.about{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    column-gap: 2rem;
    align-items: center;
}

.about-img img{
    max-width: 100%;
    width: 600px;
    height: auto;
}

.about-text span{
    font-weight: 600;
    color: var(--main-color);

}

.about-text h2{
    font-size: var(--h2-font);   
}

.about-text p{
    margin: 0.8rem 0 1.8rem;
    line-height: 1.7;
} 

.about-text a{
    display: inline-block;
    background: var(--main-color);
    color: var(--text-color);
    border-radius: 5px;
    padding: 10px 20px;
}

.heading{
    text-align: center;
}

.heading span{
    color: var(--main-color);
    font-weight: 700;
}

.heading h2{
    font-size: var(--h2-font);
}

.menu-container{
    margin-top: 5% ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.box{
    position: relative;
    background: rgb(174, 157, 157,0.2);
    border-radius: 10px;  
    padding-bottom: 40px;  
}

.box-img img{
    height: 70%;
    width: 70%;
    padding: 60px 10px;
}

.box h2{
    font-weight: 800;
}

.box h2,h3{
    padding-bottom: 10px;
}

.box span{
    color:var(--main-color)
}

.fa-cart-shopping{
    position: absolute;
    right: 0;
    top:0;
    padding: 5px;
    font-size: 30px;
}

.service span{
    font-size:30px;
    padding-bottom: 40px;
}
.service h2{
    font-size: 20px;
    padding-bottom: 30px;
}
.service-container{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    column-gap: 2rem;
    align-items: center;    
}

.s-box{
    background: rgb(174, 157, 157,0.2);
    border-radius: 10px;
    align-items: center;
    text-align: center;
    padding:20px;
}
.s-box img{
    height: 50%;
    width: 50%;
}

.service-container p{
    line-height: 1.6;
}

.btn{
    display: inline-block;
    background: var(--main-color);
    color: var(--text-color);
    border-radius: 5px;
    padding: 10px 20px;
}

.comment h2{
    font-weight: 900;
    color: var(--main-color);
}

.comment .btn{
   position: absolute;
   margin: 20px 20px;
}

.main{
    display: flex;
    flex-wrap: wrap;
}
.footer{
    padding: 10px 0;
}

.col{
    width: 25%;
}

.col h4{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 25px;
    position: relative;
}

.col h4::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 50px;
    left: 0;
    bottom: -8px;
    background: var(--main-color);
}

.col ul li:not(:last-child){
    margin-bottom: 10px;
}

.col ul li a{
    color: #9897a9;
    font-size: 1.1rem;
    display: block;
    text-transform: capitalize;
    transition: 1s;
}

.col ul li a:hover{
    color: var(--text-color);
    transform: translateX(-12px);
}

.col .social a{
    height: 40px;
    width: 40px;
    background: var(--main-color);
    color: var(--text-color);
    display:inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 50%;
    transition: 2s;
}

.col .social a:hover{
    transform: scale(1.2);
    color: var(--bg-color);
    background: var(--text-color);
}